/*

Main Style Sheet

*/


/*
===============================================
--------------- 1. CSS Inits ------------------
===============================================
*/

body {
	font-family: "Open Sans", sans-serif;
}

.page_wrapper {
    width: 100%;
    position: relative;
}

.image-bg {
	background-image: url(../img/background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: calc(100vh - 53px);
	display: flex;
}

.main-row {
	margin-top: 10%;
	margin-bottom: 5%;
}

.primary-button {
    font-size: 16px;
    text-transform: uppercase;
	text-decoration: none;
    font-weight: 900;
    color: #fff;
    background-color: #f09033;
    padding: 20px;
	margin: 10px;
  }
  
  .secondary-button {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    color: #fff;
    background-color: #005097;
    padding: 20px;
    margin: 10px;
  }

/*
===============================================
--------------- NAVIGATION ------------------
===============================================
*/

.nav>li {
	background-color: white;
	margin: 20px 0 20px 0;
	padding: 5px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 900;
	text-align: center;
}

.nav>li>a {
	color: #121212;
}

.nav>li>a:hover {
	color: #995ba4;
}

.nav>li>a.active {
	color: #fff;
}

.nav>li>a.active:hover {
	color: #121212;
}

.nav>li:has(>a.active) {
	background-color: #995ba4;
}


/*
========================================
----------- HOME STYLE -----------------
========================================
*/

 .resp-tab-content {
    padding: 0;
    overflow: hidden;
 }
 .home-container {
  background-color: #fff;
 }

 .home-container .content {
    margin: 25px;
	padding: 25px;
	background-color: #995ba4;
	color: white;
 }

 .home-container .left-content {
    padding-top: 10%;
    padding-left: 35px;
 }

 .home-container .left-content .left-line {
    width: 3px;
    height: 180px;
    background-color: #121212;
    float: left;
    margin-right: 15px;
 }

 .home-container .left-content h1 {
    font-size: 48px;
    letter-spacing: 0.5px;
    color: #121212;
    text-transform: uppercase;
    margin: 0px;
    font-weight: 900;
 }

 .home-container .left-content h2 {
    font-size: 32px;
    letter-spacing: 0.5px;
    color: #121212;
    text-transform: uppercase;
    margin: 0px;
    font-weight: 900;
 }

  .home-container .left-content h2 em {
    font-style: normal;
    color: #f09033;
  }

  .home-container .left-content p {
    margin-top: 30px;
    font-size: 14px;
    font-style: italic;
    color: #343434;
  }

  .home-container .left-content p em {
    font-weight: 500;
  }

  .home-container .button-box {
	text-align: center;
	display: flex;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 25px;
  }

   .home-container .right-content {
      margin-bottom: -1px;
   }

  .home-container .right-content img {
    overflow: hidden;
    width: 100%;
  }

  .home-container table {
	width: 100%;
  }
  
  .home-container tr {
	border-bottom: 2px solid #fff;
  }
  
  .home-container tr:last-child {
	border-bottom: 0;
  }
  
  .home-container td {
	padding: 10px;
  }
  
  .home-container td:first-child {
	width: 35%;
  }

/*
========================================
----------- ABOUT STYLE -----------------
========================================
*/

.about-container {
  text-align: center;
  background-color: #fff;
}

.about-container h2 {
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #121212;
  text-transform: uppercase;
  margin: 40px;
  margin-bottom: 0px;
  font-weight: 900;
}

.about-container h2 em {
  font-style: normal;
  color: #f09033;
}

.about-container .under-line {
  width: 35%;
  height: 3px;
  background-color: #121212;
  margin: 15px auto 20px auto;
}

.about-container p {
  font-size: 14px;
  color: #343434;
  margin: 15px 35px 30px 35px;
}

.about-container p em {
  font-weight: 500;
  font-style: normal;
}

.about-container img {
  width: 100%;
}

/*
========================================
----------- DETAILS STYLE -----------------
========================================
*/

.details-container {
  text-align: center;
  background-color: #fff;
}

.details-container h2 {
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #121212;
  text-transform: uppercase;
  margin: 40px;
  margin-bottom: 0px;
  font-weight: 900;
}

.details-container h2 em {
  font-style: normal;
  color: #f09033;
}

.details-container .under-line {
  width: 35%;
  height: 3px;
  background-color: #121212;
  margin: 15px auto 20px auto;
}

.details-container p {
  font-size: 14px;
  color: #343434;
  margin: 15px 35px 30px 35px;
}

.details-container p em {
  font-weight: 500;
  font-style: normal;
}

.details-container img {
  width: 100%;
}


/*
========================================
----------- INFO STYLE -----------------
========================================
*/

.info-container {
  text-align: center;
  background-color: #fff;
  padding-bottom: 60px;
}

.info-container h2 {
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #121212;
  text-transform: uppercase;
  margin: 40px;
  margin-bottom: 0px;
  font-weight: 900;
}

.info-container h2 em {
  font-style: normal;
  color: #f09033;
}

.info-container h3 {
  color: #ffffff;
  font-weight: 900;
}

.info-container .under-line {
  width: 35%;
  height: 3px;
  background-color: #121212;
  margin: 15px auto 20px auto;
}

.info-container p {
  font-size: 18px;
  color: #343434;
  margin: 15px 35px 30px 35px;
}

.info-container p em {
  font-weight: 500;
  font-style: normal;
}

.info-container img {
  width: 100%;
}

.info-box {
	background-color: #995ba4;
    width: 60%;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
========================================
----------- PROJECTS STYLE -----------------
========================================
*/

.projects-container {
  background-color: #fff;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 40px 30px 0px  40px;
}

.project-item {
  position: relative;
  text-align: center;
}

.project-item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.project-item .thumb-holder .hover-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(249, 139, 38, 0.9);
}

.project-item .thumb-holder .hover-effect .hover-content {
  position: absolute;
  top: 40%;
  width: 100%;
}

.project-item .thumb-holder .hover-effect .hover-content img {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  width: 40px;
}

.project-item .thumb-holder .hover-effect .hover-content h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fff;
}

.project-item:hover .hover-effect {
  opacity: 1;
}



/*
========================================
----------- CONTACT STYLE ------------
========================================
*/

.contact-container {
  background-color: #fff;
}

.contact-form {
  padding: 0px 30px 0px 30px;
  text-align: center;
}

.contact-form iframe {
  width:100%;
  height:600px;
  margin-bottom:20px;
  border:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-form h2 {
  margin-top: -50px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  background-color: #f09033;
}

.more-info {
  padding: 60px 30px 0px 0px;
}

.more-info p em {
  font-weight: 600;
  font-style: normal;
}

/*
========================================
----------- REGISTER STYLE ------------
========================================
*/

.register-container {
  background-color: #fff;
}

.register-form {
  padding: 0px 30px 0px 30px;
  text-align: center;
}

.register-form iframe {
  width:100%;
  height:600px;
  margin-bottom:20px;
  border:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register-form h2 {
  margin-top: -50px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  background-color: #f09033;
}

.more-info {
  padding: 60px 30px 0px 0px;
}

.more-info p em {
  font-weight: 600;
  font-style: normal;
}


/*
========================================
----------- FOOTER STYLE -----------------
========================================
*/

footer {
  background-color: #f4f4f4;
  text-align: center;
}

footer p {
  font-size: 13px;
  color: #7a7a7a;
  padding: 20px 0px 15px 0px;
  margin: 0px;
}

footer p em {
  font-style: normal;
  color: #f09033;
}



/*
========================================
---------- RESPONSIVE STYLE ------------
========================================
*/

.responsive-logo {
    width: 100%;
    text-align: center;
    margin: 0 0px 30px 0px;
  }

@media (max-width: 768px){

  .VerticalTab {
    padding-bottom: 30px;
  }

  .responsive-logo img {
    max-width: 100%;
  }

  .home-container {
    margin-top: 0%;
    text-align: center;
  }

  .home-container .left-content {
    padding: 40px 35px;
  }

  .home-container .left-line {
    display: none;
  }

  .home-container .right-content {
    margin-left: 0;
  }

  .home-container .right-content img {
    width: 100%;
  }

  .about-container {
    margin-top: 0%;
  }
  
  .info-container {
    margin-top: 0%;
  }

  .projects-container {
    margin-top: 0%;
  }

  .project-item {
    margin: 45px;
  }

  .project-item img {
    width: 100%;
  }

  .hover-content img {
    width: 40px;
  }

  .contact-container {
    margin-top: 0%;
  }

  .contact-form h2 {
    margin-top: 30px;
  }
  .more-info {
    padding: 0px 30px 30px 30px;
  }
}

@media (max-width: 991px){
  .home-container {
    margin-bottom: 60px;
  }
  .home-container .left-content {
    padding: 30px;
    text-align: center;
  }

  .home-container .left-content .left-line {
    display: none;
  }

  .project-item {
    margin: 45px;
  }

  .project-item img {
    width: 100%;
  }

  .hover-content img {
    width: 40px;
  }

  .projects-container {
    margin-bottom: 60px;
  }

  .contact-container  {
    margin-bottom: 60px;
  }

  .contact-form {
    padding: 0px 30px;
  }

  .more-info {
    padding: 0px 30px 30px 30px;
  }
}